{{ define "categorie" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Name}}</title>
    <link rel="stylesheet" href="/static/styles/header.css">
    <link rel="stylesheet" href="/static/styles/categorie.css">
</head>

<body>
    <div class="container">
        {{template "header" .User}}
        <div class="posts">
            {{if .Posts}}
            <div class="categoriename">{{.Name}}</div>
            {{range .Posts}}
            <div class="post">
                <a href="/post/{{.ID}}">{{.Title}}</a><br>
                <a href="/user/{{.AuthorID}}">{{.AuthorUsername}}</a> / 
                {{.Date}}
            </div>
            {{end}}
            {{else}}
            <div class="post">
                No posts in this categorie
            </div>
            {{end}}
        </div>
    </div>
</body>

</html>
{{ end }}