{{ define "header" }}
<header>
    <div class="nav">
        <div class="links">
            <a href="/">home</a>
        </div>
        <div class="user">
            {{ if eq .Role "guest" }}
            <a href="/login">log in</a> / 
            <a href="/signup">sign up</a>
            {{ end }}

            {{ if eq .Role "user" "admin" "moderator" }}
            <a href="/user/{{ .ID }}">{{ .Username }}</a> / 
            <a href="/newpost">new post</a> / 
            <a href="/logout">log out</a>
            {{ end }}
        </div>
    </div>
</header>
{{ end }}