{{ define "header" }}
<header>
    <div class="nav">
        <a href="/">Main</a>
    </div>
    <div class="search">
        <input type="text" name="search" placeholder="Search">
    </div>
    <div class="user">
        {{ if eq .Role "guest" }}
        <a href="/login">LOG IN</a>
        <a href="/signup">SIGN UP</a>
        {{ end }}

        {{ if eq .Role "user" "admin" "moderator" }}
        <a href="/newpost">New post</a>
        <a href="/user/{{ .ID }}">{{ .Username }}</a>
        <a href="/logout">LOG OUT</a>
        {{ end }}
    </div>
</header>
{{ end }}