{{ define "header" }}
<header>
    <div class="nav">
        <div class="links">
            <a href="/">Main</a>
        </div>
        <div class="user">
            {{ if eq .Role "guest" }}
            <a href="/login">Log in</a> / 
            <a href="/signup">Sign up</a>
            {{ end }}

            {{ if eq .Role "user" "admin" "moderator" }}
            <a href="/user/{{ .ID }}">{{ .Username }}</a> / 
            <a href="/newpost">New post</a> / 
            <a href="/logout">Log out</a>
            {{ end }}
        </div>
    </div>
</header>
{{ end }}