{{ define "signup" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body>
    {{ template "header" . }}
    <div>
        <form action="/signup" method="post">
            <input type="text" name="username" placeholder="Username" required maxlength="30">
            <input type="email" name="email" placeholder="E-mail" required maxlength="30">
            <input type="password" id="password1" placeholder="Password" required maxlength="30">
            <input type="password" id="password2" placeholder="Password" required maxlength="30" name="password">
            <button type="submit">Sign up</button>
        </form>
    </div>
</body>
<script src="/static/scripts/password.js"></script>
</html>
{{ end }}