{{ define "signup" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="/static/styles/header.css">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap" rel="stylesheet"> 
</head>

<body>
    <div class="container">
        {{ template "header" . }}
        <div>
            <form action="/signup" method="post">   
                Username: <br>
                <input type="text" name="username" id="un" placeholder="Username" required pattern="^[a-z0-9._-]{3,20}" title="Lenght: 3-20. Allowed symbols: [A-Z] [a-z] [0-9]  _ -  ."> <br>
                E-mail: <br>
                <input type="email" name="email" placeholder="E-mail" required maxlength="30"> <br><br>
                Password: <br>
                <input type="password" id="password1" placeholder="Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,30}" title="Password minimal lenght is 5 (max 30), and it should contain at least one capital, one lower and number">
                <br>
                Confirm password: <br>
                <input type="password" id="password2" placeholder="Password" required name="password"> <br><br>
                <button type="submit">Sign up</button>
            </form>
        </div>
    </div>
</body>
<script src="/static/scripts/password.js"></script>
<script src="/static/scripts/username.js"></script>

</html>
{{ end }}