{{ define "user" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Profile.Username}}</title>
</head>
<body>
    {{template "header" .User}}
    <div class="profile">
        <div class="avatar"><img src="{{.Profile.Avatar}}"></div>
        <div class="info">
            Username: {{.Profile.Username}} <br>
            E-mail: {{.Profile.Email}} <br>
            Role: {{.Profile.Role}} <br>
        </div>
        <div class="posts">
            Posts <br>
            {{range .Posts}}
                <div class="post">
                    <a href="/post/{{.ID}}">{{.Title}}</a>
                </div>
            {{end}}
        </div>
        <div class="comments">
            Comments <br>
            {{range .Comments}}
            <div class="comment">
                <a href="/post/{{.PostID}}">{{.PostTitle}}</a>
                {{.Date}} <br>
                {{.Data}} <br>
            </div>
            {{end}}
        </div>
        <div class="likes">
            {{range .Likes}}
                <div class="like">
                {{if eq .Type "like"}}
                    Liked
                {{end}}
                {{if eq .Type "dislike"}}
                    Disiked
                {{end}}
                <a href="/post/.PostID">{{.PostTitle}}</a>
                </div>
            {{end}}
        </div>
    </div>
</body>
</html>
{{ end }}