a {
    color: black;
}

.post {
    margin-bottom: 20px;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px;
    border-radius: 5px;
}

.categoriename {
    font-size: 30px;
    margin-bottom: 20px;
}