a {
    color: black;
}

.message {
    font-size: 30px;
}

.categories{
    margin-top: 20px;
    font-size: 22px;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px;
    border-radius: 5px;
}

.categorie{
    font-size: 18px;
    margin-top: 10px;
}

